body{  
    height: 97vh; 
    font-size: 16px; 
    font-family:Arial, Helvetica, sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}
.menu{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;   
    font-size: 13px; 
    font-family: arial,sans-serif;
    margin-right: 1vw;
}
/*menu buttons*/
#gmail, #pictures, #dots-img{
    padding-top: 1.5vh;  
 }
 #avatar{
    margin-top: 1px;
     width: 32px;
     border-radius: 50%;
 }    
 #avatar:hover{
     box-shadow: 0px 0px 0px 5px rgb(240, 240, 240);
 }
 #dots-img{
     width:18px;
     margin: 11px 10px 0px 15px;
 }
 #dots:hover{
     background-color:  rgb(240, 240, 240);
     padding: 0px 16px 7px 10px;
     margin: 0px -16px -7px -10px;
     border-radius: 50%;
     box-shadow: 0px 0px 1px 5px  rgb(240, 240, 240);
 }
 a:link{
     color: currentColor;
     text-decoration: none;
 }
 a:link:hover{
     text-decoration:underline;
 }

 .searchlogo{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-bottom: 12vw;
}
 #logo{   
    width:270px;
}
.search-bar{
   width: 580px; 
   display: flex;
   flex-direction:row;
   align-items: center;
   justify-content: center;
   margin-top: 22px;
   border-radius: 25px;
   border: 1px solid rgb(225, 225, 226);
}
.search-bar:hover{
    border-color: rgb(225, 225, 226);
    box-shadow: 0px 0px 5px 1px rgb(225, 225, 226);
}

/*search buttons*/
#glass{
    width:18px;
    margin-top: -3px;
    margin-left: -28px;
    padding-right: 22px;
}
#input-line{
    border-color: transparent;
    padding: 13px 117px 12px 117px;
    margin-left: 10px;  
}
#keyboard{
    width: 20px;
    height: 11px;
    margin-top: -1px;
    margin-right: -2px;
    cursor: pointer;
    border-radius: 1px;
}
#microphone{
    width: 15px;
    height: 20px;
    margin-left: 24px;
    cursor: pointer;
}
#camera{
    width: 25px;
    margin-left: 20px;
    margin-right: -25px;
    cursor: pointer;
}
/*buttons under search*/
.buttons_flex{
    display: flex;
    align-items: center;
    gap: 0.8rem;  
}
.search-buttons{
    font-size: 14px;
    border: 0px solid rgb(248, 249, 250); 
    border-radius: 5px;
    background-color: rgb(248, 249, 250);
    padding: 9px 16px;
    margin-top: 28px;
}
.search-buttons:hover{
    box-shadow: 0px 0px 1px 1px  rgb(218, 220, 224);
}
#happy-link:link{
        color:currentColor;
        text-decoration: none;
}
#happy-link:visited{
        color:currentColor;
        text-decoration: none;
}
#langchange{
 font-size: 13px;  
 
 margin-top: 29px;
 margin-left: -10px; 
}

.country{
    position: fixed;
    top: auto;
    bottom: 46px;
    width: 100%;
    justify-content: flex-start;
    padding: 15px 2vw;
    text-align: left;
    background-color:rgb(242, 242, 242); 
    border: 1px solid rgb(242, 242, 242);
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(112, 117, 122)
}
.lowbar{
    position: fixed;
    flex-wrap: wrap;
    bottom: 0px;
    width: 100%;
    background-color:rgb(242, 242, 242);
}
.lowbar_line_two{  
    height: 45px;
    display: flex;
    justify-content:space-between;
    border: 1px solid rgb(218, 220, 224);
    position:relative;
    padding: 0px 1.5vw;
    font-size: 14px;  
    font-family:Arial, Helvetica, sans-serif;
}     
#leftbar, #rightbar{
    height: 45px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center;
    text-align: left;
    overflow: visible;
    padding: 0px 10px;
    gap: 1px 30px;
}      
.box{
    color:rgb(112, 117, 122);
}
.lowbarlink:link{
    color:currentColor;
    text-decoration:none;
}
.lowbarlink:visited{
    color:currentColor;
    text-decoration:underline;
}       
