body{  
    height: 97vh; 
    font-size: 16px; 
    font-family:Arial, Helvetica, sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}
.menu{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;   
    font-size: 13px; 
    font-family: arial,sans-serif;
    margin-right: 1vw;
}
/*menu buttons*/
#gmail, #pictures, #dots{
    padding-top: 1.5vh;  
 }
 #avatar{
    margin-top: 1px;
     width: 32px;
     border-radius: 50%;
 }    
 #avatar:hover{
     box-shadow: 0px 0px 0px 5px rgb(240, 240, 240);
 }
 #dots-img{
     width:19px;
 }
 #dots {
    margin-top: 11px;
    border: 1px solid transparent;
    background-color: transparent;
    padding: 10px 10px 7px;
 }
 #dots:hover{
     background-color:  rgb(240, 240, 240);
     border: 1px solid transparent;
     border-radius: 50px;
     box-shadow: 0px 0px 0px 1px  rgb(240, 240, 240);
 }
 a:link{
     color: currentColor;
     text-decoration: none;
 }
 a:link:hover{
     text-decoration:underline;
 }

 .searchlogo{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-bottom: 12vw;
}
 #logo{   
    width:270px;
}
.search-bar{
   width: 580px; 
   display: flex;
   flex-direction:row;
   align-items: center;
   justify-content: center;
   margin-top: 22px;
   border-radius: 25px;
   border: 1px solid #e1e1e2;
}
.search-bar:hover{
    border-color: #e1e1e2;;
    box-shadow: 0px 0px 5px 1px #e1e1e2;;
}

/*search buttons*/

#glass{
    width:18px;
    margin-top: -3px;
    margin-left: -28px;
    padding-right: 22px;
}
#input-line{
    border-color: transparent;
    padding: 13px 117px 12px 117px;
    margin-left: 10px;  
}
#keyboard{
    width: 20px;
    height: 11px;
    margin-top: -1px;
    margin-right: -2px;
    cursor: pointer;
    border-radius: 1px;
}
#microphone{
    width: 15px;
    height: 20px;
    margin-left: 24px;
    cursor: pointer;
}
#camera{
    width: 25px;
    margin-left: 20px;
    margin-right: -25px;
    cursor: pointer;
}
/*buttons under search*/
.buttons_flex{
    display: flex;
    align-items: center;
    gap: 0.8rem;  
}
.search-buttons{
    font-size: 14px;
    border: 0px solid #f8f9fa; 
    border-radius: 5px;
    background-color: #f8f9fa;
    padding: 9px 16px;
    margin-top: 28px;
}
.search-buttons:hover{
    box-shadow: 0px 0px 1px 1px  #dadce0;
}
#happy-link:link, #happy-link:visited {
        color: #000000;
        text-decoration: none;
}
#langchange{
 font-size: 13px;  
 margin-top: 29px;
 margin-left: -10px; 
}

.country{
    position: fixed;
    top: auto;
    bottom: 46px;
    width: 100%;
    justify-content: flex-start;
    padding: 15px 2vw;
    text-align: left;
    background-color:#f2f2f2; 
    border: 1px solid #f2f2f2;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    color:#70757A
}
.lowbar{
    position: fixed;
    flex-wrap: wrap;
    bottom: 0px;
    width: 100%;
    background-color:#f2f2f2;
    color:#70757A;
}
.lowbar_line_two{  
    height: 45px;
    display: flex;
    justify-content:space-between;
    border: 1px solid #dadce0;
    position:relative;
    padding: 0px 1.5vw;
    font-size: 14px;  
    font-family:Arial, Helvetica, sans-serif;
}     
#leftbar, #rightbar{
    height: 45px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center;
    text-align: left;
    overflow: visible;
    padding: 0px 10px;
    gap: 1px 30px;
} 
.lowbarlink:link{
    color:#70757A;
    text-decoration:none;
}
.lowbarlink:visited{
    color:#70757A;
    text-decoration:underline;
}




@media (max-width: 750px){
    button, div, #gmail, #happy-link:link, #happy-link:visited {
        font-family: 'Roboto', sans-serif;
        color: #70757a;
    }    
    body{ 
        font-family: 'Roboto', sans-serif;
        height: 90vh;
    }
    .menu{
        margin-right: 3vw;
    }   
     .searchlogo{
        margin-bottom: 45vh;
    }    
     #logo{   
        width:150px;
    }
    .search-bar{
       width: 390px; 
    }
    #glass{
        margin: 0px;
    }
    #input-line{
        width: 220px;
        padding: 0px 0px 12px;
        margin-right: 10px;     
    }
    #keyboard, #microphone, #camera{
        margin-left: 10px;
        margin-right: 0px;
    }
}
 